.wrapper{
  display: grid;
  width: 1200px;
  margin:0 auto;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: header;
 background-color: bisque ;
}
.header img {
  width: 70px;
}

.nav{
  grid-area: nav;
  background-color: beige;
}

.content{
  grid-area: content;
  background-color: coral;
}
.content img{
  width: 100%;
}